* {
    padding: 0;
    margin: 0;
}

body {
    /*background-color: #0e77a1 !important;*/
    background-color: grey !important;
    box-sizing: border-box;
    
  }


  .header-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    background-image: url('/images/top-bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    justify-items: center;
    align-items: center;
    height: auto;
    background-attachment: fixed;
}

.section-heading {
    padding: 2%;
    font-family: 'Titan One', cursive;
    font-size: 4rem;
    color: #ff8c00;
    text-shadow: -1px 0 black, 0 4px black, 1px 0 black, 0 -1px black;
  
  }

  
  .menu-grid{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}


.navbar-item {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.2rem;
    padding-top: 100%;
    padding-bottom: 100%;
    background-color: rgba(255, 140,00, 0.2);
    text-align: center;
    text-shadow: -1px 0 #ff8c00, 0 1px #ff8c00, 1px 0 #ff8c00, 0 -1px #ff8c00;
    color: black;

  }

  .navbar-item:hover {
      background-color: rgba(255, 140, 0, 0.6);
      color: white !important;
      cursor: pointer;
      text-shadow: -1px 0 #030303, 0 1px #000000, 1px 0 #030303, 0 -1px #000000;
      text-decoration: none;

  }

  
  #current-page {
    background-color: rgba(255, 140, 0, 0.6);
}


.header-grid > img {
    width: 100%;
    height: auto;
    grid-column: 1;
    grid-row: 1;
}

/* Main body */

.main-body {
    font-family: 'Arvo', serif;
    color: white;
    margin-top: 2%;
}

ol {
    list-style: decimal !important;
}

li {
    color: black;
    font-weight: bolder;
}













/* Footer styling here */
.footer-icon {
    width: 50px;
    height: 50px;
  }
  
  .footer-icon:hover {
    cursor: pointer;
  }
  
  footer {
    background-color: black;
    width: 100%;
    height: 15%;
    padding-bottom: 3%;
    color: #ff8c00;
    font-size: x-large;
    text-align: center;
  }

  .button {
    width: 70px;
    height: 70px;
    position: sticky;
    top: 0;
    opacity: 50%;
    left: 0;
    padding: 5px;
  }