* {
  padding: 0;
  margin: 0;
}

body {
  /*background-color: #0e77a1 !important;*/
  background-color: grey !important;
  box-sizing: border-box;
  
}


.header-grid{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  background-image: url('/images/top-bg-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  justify-items: center;
  align-items: center;
  height: auto;
  background-attachment: fixed;
}

.section-heading {
  padding: 2%;
  font-family: 'Titan One', cursive;
  font-size: 4rem;
  color: #ff8c00;
  text-shadow: -1px 0 black, 0 4px black, 1px 0 black, 0 -1px black;

}


.menu-grid{
  display: grid;
  grid-template-columns: repeat(6,1fr);
}


.navbar-item {
  font-family: 'Exo 2', sans-serif;
  font-size: 1.2rem;
  padding-top: 100%;
  padding-bottom: 100%;
  background-color: rgba(255, 140,00, 0.2);
  text-align: center;
  text-shadow: -1px 0 #ff8c00, 0 1px #ff8c00, 1px 0 #ff8c00, 0 -1px #ff8c00;
  color: black;

}

.navbar-item:hover {
    background-color: rgba(255, 140, 0, 0.6);
    color: white !important;
    cursor: pointer;
    text-shadow: -1px 0 #030303, 0 1px #000000, 1px 0 #030303, 0 -1px #000000;
    text-decoration: none;

}


#current-page {
  background-color: rgba(255, 140, 0, 0.6);
}


.header-grid > img {
  width: 100%;
  height: auto;
  grid-column: 1;
  grid-row: 1;
}

/* Main body styling starts here*/

.heading {
  font-family: 'Lobster', cursive;
  font-size: 4rem;
  text-shadow: -1px 0 black, 0 4px black, 1px 0 black, 0 -1px black;
  color: white;
  
}

/* Section 2 is right here */
.section-2-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  font-family: 'Arvo', serif;
  color: white;
}

#para1 {
 grid-column: 1/4;
}

#video {
  grid-column: 3;
}

#para2 {
  grid-column: 1/3;
}

#para3 {
  grid-column: 1/4;
}

#para4 {
  grid-column: 1/4;
}

.section-2 {
  padding: 2%;
}

.button {
  width: 70px;
  height: 70px;
  position: sticky;
  top: 0;
  opacity: 50%;
  left: 0;
  padding: 5px;
  z-index: 1;
}

.button:hover {
  cursor: pointer;
}


/* Styling the third section which has the carousels begins here */

.news-heading {
  color: yellow;
  text-shadow: -1px 0 black, 0 4px black, 1px 0 black, 0 -1px black;
  font-weight: bolder;
}

.news-heading:hover {
  color: #ff8c00;
  cursor: pointer;
}

.section-3-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  
  font-family: 'Rajdhani', sans-serif;
  color: white;
  padding: 1% 0;
}

#carousel-3 {
  padding-bottom: 3px;
}

.section-3-grid > div:nth-child(odd) {
  background-color: #0e77a1 !important;
  margin-bottom: 3%;
  padding-bottom: 3%;
  border-radius: 10px;
}

div > header {
  font-family: 'Righteous', cursive;
  font-size: 30px;
  text-align: center;
}
#carousel-2 {
  padding-bottom: 3px;
}

p > a {
  cursor: pointer;
  color: #ff8c00 !important;
  background-color: black;
  padding: 1%;
}

footer {
  background-color: black;
  width: 100%;
  height: 15%;
  padding-bottom: 3%;
  color: #ff8c00;
  font-size: x-large;
  text-align: center;
}

.reviews {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.review-block {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.client-img {
  width: 150px;
  height: 150px;
}

.satisfied-costumers {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 3%;
  padding: 1%;
  font-style: italic;
  font-size: 1.1rem;
  background-color: rgba(255, 155, 0, 0.7);
}

.footer-icon {
  width: 50px;
  height: 50px;
}

.footer-icon:hover {
  cursor: pointer;
}

.button {
  width: 70px;
  height: 70px;
  position: sticky;
  top: 0;
  opacity: 50%;
  left: 0;
  padding: 5px;
}

  /* Media queries will be here */
  @media only screen and (max-width: 800px) {

    .header-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      align-items: center;
      height: auto;
      background-attachment: fixed;
  }


    .menu-grid{
      grid-column-start: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      display: flex;
      flex-direction: column;
  }

  .navbar-item {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.2rem;
    background-color: rgba(255, 140,00, 0.2);
    text-align: center;
    padding: 2%;
    margin: 1%;
    text-shadow: -1px 0 #ff8c00, 0 1px #ff8c00, 1px 0 #ff8c00, 0 -1px #ff8c00;
    color: black;
  }

  .header-grid > img {
    width: 80%;
    margin: 2%;
    height: auto;
    grid-column: 1;
    grid-row: 1;
}

.bookingButtons {
  grid-row: 3;
  grid-column: 2;
  padding: 1%;
}

/* Styling of paragraphs and iframe */
.section-2-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  font-family: 'Arvo', serif;
  color: white;
  column-gap: 10px;
}

#para1 {
  grid-column: 1/3;
  grid-row: 1;
 }
 
 #video {
   grid-column: 1/3;
   grid-row: 3;
 }
 
 #para2 {
   grid-column: 1/3;
   grid-row: 3;
 }
 
 #para3 {
   grid-column: 1/3;
   grid-row: 5;
 }
 
 #para4 {
   grid-column: 1/3;
   grid-row: 4;
 }
 
 .section-3-grid {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr;
  text-align: left;
  font-family: 'Rajdhani', sans-serif;
  color: white;
  padding: 1% 0;
}

#our-products {
  grid-row: 1;
  grid-column: 1;
}

#news {
grid-row: 2;
grid-column: 1;
}

#our-company {
grid-row: 3;
grid-column: 1;
}

.reviews {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

}

#rev-1 {
  grid-row: 1;

}

#rev-2 {
  grid-row: 2;
}

  }